<section data-ng-controller="AffiliatesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Affiliates</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="affiliate in affiliates" data-ng-href="/#!/affiliates/{{affiliate._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="affiliate.created | date:'medium'"></span>
				by
				<span data-ng-bind="affiliate.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="affiliate.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!affiliates.$resolved || affiliates.length">
    	No Affiliates yet, why don't you <a href="/#!/affiliates/create">create one</a>?
    </div>
</section>